/* globals.css */
@import "tailwindcss";
@source "../../components/**/*.{ts,tsx}";
@source "../../app/**/*.{ts,tsx}";

:root {
  --bg-forest: #e9edf2;
  --bg-city: #f5f5f0;
  --bg-contact: #e7e7df;

  --ball-bl: radial-gradient(
    circle at 30% 30%,
    #e3f5fc 0%,
    #bbe2f2 40%,
    #89c4de 100%
  );
  --ball-or: radial-gradient(
    circle at 30% 30%,
    #ffd8b3 0%,
    #f0af71 40%,
    #d18d4d 100%
  );
  --ball-yr: radial-gradient(
    circle at 30% 30%,
    #fffbe6 0%,
    #f1ecb0 40%,
    #c9c383 100%
  );
  --ball-pk: radial-gradient(
    circle at 30% 30%,
    #ffd1d1 0%,
    #f29a9a 40%,
    #c46e6e 100%
  );
}

.dark {
  --bg-forest: #2c3641;
  --bg-city: #0f172a;
  --bg-contact: #020617;
}

@theme {
  /* fonts */
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;
  --font-gmarket: var(--font-gmarket), sans-serif;

  /* typograpy */
  --tracking-tight: -0.02em;

  --text-title-1: 30px;
  --leading-title-1: 38px;
  --text-title-2: 20px;
  --leading-title-2: 28px;
  --text-title-3: 18px;
  --leading-title-3: 26px;
  --text-title-4: 16px;
  --leading-title-4: 24px;
  --text-title-5: 12px;
  --leading-title-5: 18px;
  --text-body-1: 16px;
  --leading-body-1: 24px;
  --text-body-2: 14px;
  --leading-body-2: 22px;
  --text-caption: 12px;
  --leading-caption: 18px;

  /* colors */
  --color-bg-light: #e9edf2;
  --color-brand-primary: #2c3641;
  --color-brand-point: #d4d77c;
  --color-point-pk: #c46e6e;
  --color-gray-light: #f1f3f5;
  --color-gray-medium: #868e96;
  --color-gray-dark: #495057;
  --color-bg-road: #dadbdd;
  --color-bg-grass: #528556;

  /* linear-gradient */
  --background-image-light-gradient: linear-gradient(
    to bottom,
    rgb(212, 215, 125) 0%,
    rgb(218, 222, 160) 25%,
    rgb(224, 229, 195) 50%,
    rgb(229, 233, 222) 75%,
    rgb(233, 237, 242) 95%,
    rgb(233, 237, 242) 100%
  );
  --background-image-dark-gradient: linear-gradient(
    to bottom,
    rgb(212, 215, 125) 0%,
    rgb(161, 166, 107) 30%,
    rgb(102, 110, 85) 55%,
    rgb(60, 72, 80) 75%,
    rgb(44, 54, 65) 90%,
    rgb(44, 54, 65) 100%
  );
  --background-image-light-contact-gradient: linear-gradient(
    to bottom,
    #f5f5f0 0%,
    #edece4 50%,
    #e7e7df 100%
  );

  /* box-shadow */
  --shadow-s1: 0px 1px 4px rgba(30, 40, 58, 0.04);
  --shadow-s2: 0px 6px 48px rgba(30, 40, 58, 0.08);
  --shadow-s3: 0 8px 24px -4px rgba(255, 255, 255, 0.4),
    0 4px 12px -2px rgba(0, 0, 0, 0.04);
  --shadow-star-glow: 0 0 6px 1px rgba(212, 215, 124, 0.4);
  --dark-shadow-star-glow: 0 0 10px 2px rgba(255, 255, 255, 0.6);

  /* background-image */
  --background-image-floor-road: url("/images/floors/img-floor-road.png");
  --background-image-floor-grass: url("/images/floors/img-floor-grass.png");
  --background-image-floor-back: url("/images/floors/img-floor-main-back.png");
  --background-image-floor-front: url("/images/floors/img-floor-main-front.png");

  /* keyframes */
  @keyframes floating {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  @keyframes drift {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(10%);
    }
  }
  @keyframes bounce-slow {
    0%,
    100% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(10px);
      opacity: 0.7;
    }
  }
  @keyframes twinkle {
    0%,
    100% {
      opacity: 0.3;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  @keyframes fade-in {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-floating: floating 3s ease-in-out infinite;
  --animate-drift: drift 15s linear infinite alternate;
  --animate-scroll-guide: bounce-slow 1.5s ease-in-out infinite;
  --animate-twinkle: twinkle 3s ease-in-out infinite;
  --animate-fade-in: fade-in 3s ease-in-out infinite;
}

@variant dark (&:where(.dark, .dark *));
